* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

html, body {
  height: 100%;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;    
  padding: 20px;

 
  background: linear-gradient(
    180deg,
    #ffb3c6 0%,   
    #ff99aa 50%,  
    #ff77aa 100%  
  );
}


.weather-container {
  width: 400px;         
  padding: 32px;
  border-radius: 28px;

  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 230, 230, 0.9)
  );

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #023047;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.weather-icon {
  font-size: 50px;      
  margin-bottom: 16px;
  transition: transform 0.3s;
}
.weather-icon:hover {
  transform: scale(1.1);
}


.search-box {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  width: 100%;
}

.search-box input {
  flex: 1;
  padding: 14px 16px;
  border-radius: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: #023047;
}

.search-box input::placeholder {
  color: #a04d7c;
}

.search-box input:focus {
  outline: 2px solid #ff3f7f;
}

.search-box button {
  padding: 14px 20px;
  border-radius: 16px;
  border: none;
  background: linear-gradient(to bottom, #ff6f91, #ff3f7f);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}


.search-box button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 63, 127, 0.5);
}


.weather-info {
  margin-top: 28px;
}

.weather-info h2 {
  font-size: 23px;
  font-weight: 600;
}

.temp {
  font-size: 50px;
  font-weight: 700;
  margin: 8px 0;
  color: #ff3f7f;
}

.desc {
  color: #a04d7c;
  text-transform: capitalize;
  font-size: 18px;
}


.extra {
  margin-top: 24px;
  width: 100%;
}
.stats-row {
  display: flex;
  justify-content: space-between; /* Pushes one to far left, one to far right */
  width: 100%;
  color: #7a174f;
  font-size: 15px;
  margin-bottom: 15px; /* Space between icons and the greeting */
}


.error {
  margin-top: 14px;
  color: #b5172b;
  font-weight: 600;
}


.extra>span{
    display: flex;
    justify-content: space-around;
}
.footer-msg {
  font-size: 18px;
  font-weight: 600;
  color: #ff0066;
  text-align: center;
  width: 100%;
}
